main {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
img {
    width: 100%;
    height: auto;
    /*object-fit: scale-down;*/
}


/*.buttons {*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    gap: 10px;*/
/*}*/

/*.button:focus {*/
/*    background-color: #25b025;*/
/*    color: #fff;*/
/*}*/

/*.button:hover{*/
/*    background-color: #25b025;*/
/*    color: #fff;*/
/*}*/

/*.button {*/
/*    border-radius: 30px;*/
/*    padding: 8px 13px 8px 13px;*/
/*    border: none;*/
/*    transition: 0.5s;*/
/*}*/